<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver android:name="expo.modules.prayerwidgets.NextPrayerWidget" android:label="@string/widget_next_prayer" android:exported="false">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_next_prayer_info" />
    </receiver>
    <receiver android:name="expo.modules.prayerwidgets.PrayerTimesWidget" android:label="@string/widget_prayer_times" android:exported="false">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_prayer_times_info" />
    </receiver>
    <receiver android:name="expo.modules.prayerwidgets.DhikrWidget" android:label="@string/widget_dhikr" android:exported="false">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_dhikr_info" />
    </receiver>
    <receiver android:name="expo.modules.prayerwidgets.WidgetRefreshReceiver" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.TIME_SET" />
        <action android:name="android.intent.action.TIMEZONE_CHANGED" />
        <action android:name="android.intent.action.DATE_CHANGED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
